
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>AngularJS-Bootstrap-JQuery-REST</h1>
    <h2>Link Design </h2>
    <p>Esta mini aplicacion se basa en la funcionalidad de depositos SOAT por parte de QBE, para ello se ha implementado el patron Modelo - Vista - Controlador
        (cabe señalar que el presente demo es totalmente funcional y la data es traida desde el servidor LINK por medio de fuentes restful), con las siguientes tecnologias. 
    <ul>
    <li><a href="http://angularjs.org">AngularJS</a>, </li>
    <li><a href="http://twitter.github.com/bootstrap/getting-started.html#examples">twitter-bootstrap</a>,</li>
    <li><a href="http://jquery.com/">jQuery</a> y</li>
    <li>un API rest alojado en el servidor de Link</li>
    </ul>
    Comencemos con el demo.</p>

    <p><a href="#/project_b" class="btn btn-primary btn-large">Pongale Play &raquo;</a></p>
</div>



